.swiper-content{
    height: 100vh;
    width: 75%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 25px;
}

.swiperbtn i{
    color: #000;
}

.swiperbtn{
    display: flex;
    /* background-color: rgb(189, 189, 39); */
    height: 20vh;
    width: 60%;
    margin-top: 30px;
    justify-content: space-around;
}

.circle{
    height: 60px;
    width: 60px;
    /* background: transparent; */ 
    border: 2px solid gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.circle:nth-child(2){
    border: 2px solid #f1244d;
}
.circle:nth-child(3){
    border: 2px solid #69c4fb;
}
.circle:nth-child(4){
    border: 2px solid rgb(31, 182, 94);
}
.circle:nth-child(5){
    border: 2px solid rgb(146, 89, 238);
}
.circle:nth-child(5) i{
    color: #b169fb ;
}
.circle:nth-child(4) i{
   color: #69fb84;
}
/* <i class='bx bxs-shield' style='color:#69fb84'  ></i> */
/* <i class='bx bx-shield' style='color:#b169fb'  ></i> */
.circle:nth-child(3) i{
    color: blue;
}


.circle i{
    color: gray;
    font-size: xx-large;
    font-weight: 700;
}
.circle:nth-child(2) i{
    color: gray;
    font-size: 50px;
    font-weight: 700;
}

@media only screen and (max-width: 1200px) {
    .swiper-content{
        width: 100%;
    }
    #swiper {
        height: 70vh;
        /* aspect-ratio: 2 / 3; */
        height: 300px;
        width: 200px;
      }
      .circle{
        height: 40px;
        width: 40px;
        border: 2px solid gray;
        border-radius: 50%;
    }   
    .swiperbtn{
        display: flex;
        justify-content: space-evenly;
        /* background-color: white; */
        width: 250px;
    }
}


.minbtn{
    height: 10vh;
    width: 420px;
    display: flex;
    background:#3C3D37 ;
    /* justify-content: space-evenly; */
    gap: 20%;
    align-items: center;
    object-fit: cover;
    /* padding: 0 25px; */
}

.notifdiv{
    color: white;
    width: 350px;
    height: 198px;
    position: absolute;
    display: none;
    top: 30%;
    background-color: #101014;
    overflow: hidden;
    z-index: 100;
    border-radius: 20px;
    transition: ease all 0.5s
}
/* <i class='bx bxs-shield' style='color:#69c4fb'  ></i> */
.notifbox{
    border-bottom: solid rgb(66, 66, 66);
    height: 50px;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.notifbox:nth-child(1){
    justify-content: center;
    text-align: center;
    /* padding: 10px; */
}
.notifbox:nth-child(4){
    justify-content: center;
    text-align: center;
}

.notifbox i{
    font-size: x-large;
}